# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Build outputs
dist/
build/

# Temporary files
tmp/
temp/

# Editor and OS-specific files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp